<app-navbar></app-navbar>
<div>
  <div class="container">
    <div class="row mt-2 mb-2">
      <div class="col-6">
        <div class="card">
          <img src="/assets/img/myhouse.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">My houses</h5>
            <p class="card-text">Here you can manage your houses. Add new, edit exiting or delete</p>
            <a href="/landlordhouse" class="btn btn-slm">Go to my houses</a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <img src="/assets/img/application.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Check applications</h5>
            <p class="card-text">Here you can check or add user as tenant for your house </p>
            <a href="/landlord-application" class="btn btn-slm">Go to applications</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="card">
          <img src="/assets/img/mail.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">My messages</h5>
            <p class="card-text">Here you can communicate with your tenants</p>
            <a href="/message" class="btn btn-slm">Go to my messages</a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <img src="/assets/img/profile.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">User Profile</h5>
            <p class="card-text">Here you can change your personal data</p>
            <a href="/profile" class="btn btn-slm">Go to my profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



