<app-navbar></app-navbar>

  <div class="container">
      <div class="card mt-2">
    <div class="row">
      <div class="col-4 p-3">
        <img src="/assets/img/login.png" class="mx-auto d-block">
      </div>
      <div class="col-4 mt-2" *ngIf="!editing">
        <div class="row">
          <h4><b>Full name: {{userProfile.fullName}}</b></h4>
        </div>  
        <div class="row">
          Email: {{userProfile.email}}
        </div>
        <div class="row">
          User name: {{userProfile.userName}}
        </div>
      </div>
        <div class="col-4 mt-2">
            <div class="col text-right p-2"> 
              <button type="button" class="btn btn-slm" (click)="onEdit()">Edit user profile</button>
            </div>
        </div>
    </div>
  
  </div>
</div>
  