
<img src="/assets/img/register.png" class="mx-auto d-block">
<form [formGroup]="_userService.formModel" autocomplete="off" (submit)="onSubmit()">
  <div class="form-group required">
    <label>Username</label>
    <input class="form-control" formControlName="UserName">
    <label class="text-danger" *ngIf="_userService.formModel.get('UserName').touched && _userService.formModel.get('UserName').errors?.required">Username is required</label>
  </div>
  <div class="form-group required">
    <label>Email</label>
    <input class="form-control" formControlName = "Email">
    <label class="text-danger" *ngIf="_userService.formModel.get('Email').touched && _userService.formModel.get('Email').errors?.email">Email is not valid</label>
  </div>
  <div class="form-group required">
    <label>Full name</label>
    <input class="form-control" formControlName = "FullName">
  </div>
  <div formGroupName="Passwords">
    <div class="form-group required">
      <label>Password</label>
      <input type="password" class="form-control" formControlName = "Password"> 
      <label class="text-danger" *ngIf="_userService.formModel.get('Passwords.Password').touched && _userService.formModel.get('Passwords.Password').errors?.required">Password is required</label>
      <label class="text-danger" *ngIf="_userService.formModel.get('Passwords.Password').touched && _userService.formModel.get('Passwords.Password').errors?.minlength">Min length - 4</label>
    </div>
    <div class="form-group required">
      <label>Confirm password</label>
      <input type="password"  class="form-control" formControlName = "ConfirmPassword"> 
      <label class="text-danger" *ngIf="_userService.formModel.get('Passwords.ConfirmPassword').touched && _userService.formModel.get('Passwords.ConfirmPassword').errors?.required">Password is required</label>
      <label class="text-danger" *ngIf="_userService.formModel.get('Passwords.ConfirmPassword').touched && _userService.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Passwords don't match</label>
    </div>
  </div>
    <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0"><label>Role</label></legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" formControlName = "Role" type="radio" name="Role" id="LandlordRadio" value="Landlord" checked="checked">
              <label class="form-check-label" for="LandlordRadio">
                <label>Landlord</label>
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" formControlName = "Role" type="radio" name="Role" id="TenantRadio" value="Tenant">
              <label class="form-check-label" for="Tenant">
                <label>Tenant</label>
              </label>
            </div>
            <label class="text-danger" *ngIf="_userService.formModel.get('Role').touched && _userService.formModel.get('Role').errors?.email">Set role</label>
          </div>
        </div>
      </fieldset>
   
    <div class="form-row">
      <div class="form-group col-md-8 offset-md-2">
          <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!_userService.formModel.valid">Register</button>
      </div>
  </div>
</form>
   