<app-navbar></app-navbar>
  <div class="container">
    <div class="row mt-2 mb-2">

      <div class="col-4">
        <div class="card">
          <img src="/assets/img/tenant-house.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">My house</h5>
            <p class="card-text">Here you can manage your house.</p>
            <a href="/tenant-house" class="btn btn-slm">Go to my house</a>
          </div>
        </div>
      </div>

    <div class="col-4">
        <div class="card">
          <img src="/assets/img/mail.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">My messages</h5>
            <p class="card-text">Here you can communicate with your landlord</p>
            <a href="/message" class="btn btn-slm">Go to my messages</a>
          </div>
        </div>
    </div>

      <div class="col-4">
        <div class="card">
          <img src="/assets/img/profile.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">User Profile</h5>
            <p class="card-text">Here you can change your personal data</p>
            <a href="/profile" class="btn btn-slm">Go to my profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>


